body {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

#left-menu {
  box-sizing: border-box;
  height: inherit;
  width: 200px;
  border: 1px solid black;
  padding: 10px;
}

#left-menu button {
  display: block;
  margin: 10px auto;

  cursor: pointer;
}

#game-map {
  position: relative;
  box-sizing: border-box;
}

.cell {
  position: absolute;
  box-sizing: border-box;
  border: 1px solid black;

  cursor: pointer;
}

.cell.cell-dead {
  background: white;
}

.cell.cell-live {
  background: gray;
}

.clearfix {
  clear: both;
}
